/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_SLOW 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/*		LEFT HAND COMBOS		*/
// Horizonatal
ZMK_COMBO(esc,   &kp RBKT,       LM2 LM1,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
// Vertical


/*		RIGHT HAND COMBOS		*/
// Horizontal
ZMK_COMBO(lpar,   &kp LPAR,       RM1 RM2,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rpar,   &kp RPAR,       RM2 RM3,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lbkt,   &kp LBKT,       RT1 RT2,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rbkt,   &kp RBKT,       RT2 RT3,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(lbrc,   &kp LBRC,       RB1 RB2,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(rbrc,   &kp RBRC,       RB2 RB3,     BASE LOWER UTILITY, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
// Vertical

